html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

h1 {
  font-size: 3.157rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.369rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.777rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.333rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

p {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
  background-size: 8.33333%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  *zoom: 1;
  height: 100%;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), -moz-linear-gradient(top, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), -webkit-linear-gradient(top, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(199, 37, 78, 0.5) 10%, rgba(224, 88, 123, 0.5) 90%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, #e0ebeb 5%, rgba(224, 235, 235, 0) 5%);
    background-size: 8.33333%, 100% 24px;
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-position: left top;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  font-size: 1.125rem;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  height: 42px;
  padding: 0 2em;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.button_green {
  background: #b0cd3b;
  box-shadow: 0 4px #798f21;
}
.button_aqua {
  background: #1bbc9d;
  box-shadow: 0 4px #1f937d;
}
.button:active {
  box-shadow: none;
  bottom: -4px;
}
.button:focus {
  outline: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  -webkit-transition: translste(0);
  transition: translste(0);
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.running {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}

.animated {
  opacity: 0;
}

.headline h2, .slider h2 {
  font-size: 3.75rem;
  font-weight: 300;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.headline h3, .slider h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.article h2 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #515151;
}

.services h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #3a3a3a;
}

.services p {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #5f5f5f;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.article {
  overflow: hidden;
  *zoom: 1;
  padding: 1.5rem 0;
}
.article h2 {
  margin-bottom: 3rem;
  text-align: center;
}
.article_contacts {
  background: #F2F2F2;
}

.headline {
  overflow: hidden;
  *zoom: 1;
  height: 27rem;
  /* 27*15 = 432px */
  position: relative;
  background-size: cover;
}
.headline h2 {
  margin-top: 9rem;
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.headline h3 {
  margin-bottom: 1.5rem;
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.headline_purchase {
  background-image: url(/images/headline.jpg);
}
.headline_pricing {
  background-image: url(/images/headline.jpg);
}
.headline_about {
  background-image: url(/images/headline.jpg);
}
.headline_social {
  background-image: url(/images/headline.jpg);
}

.header {
  height: 7.5rem;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
}
.header nav {
  width: 81.66667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: right;
}
.header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
.header nav ul a {
  text-decoration: none;
  line-height: 7.5rem;
  color: #595959;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.header nav ul a:hover {
  color: #b0cd3b;
}

.logo {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-size: 1.5em;
  line-height: 7.5rem;
  text-decoration: none;
  color: #595959;
}
.logo img {
  margin-right: .5em;
  vertical-align: middle;
}

.slider {
  position: relative;
  z-index: 1;
  /* webkit blinking fix */
  width: 100%;
  height: 100%;
  /*height: 590px;*/
  overflow: hidden;
  margin-top: 7.5rem;
}
.slider ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  height: 100%;
  /* Clear fix */
  *zoom: 1;
  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slider li {
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  height: 100%;
  padding: 15em 0;
  float: left;
  clear: none;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slider .slide1 {
  background-image: url(/images/slide2.jpg);
}
.slider .slide2 {
  background-image: url(/images/slide3.jpg);
}
.slider .slide3 {
  background-image: url(/images/slide4.jpg);
}
.slider .slide4 {
  background-image: url(/images/slide5.jpg);
}
.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -14px;
  font-size: 40px;
  /* old 28px */
  color: rgba(255, 255, 255, 0.8);
  transition: all .2s ease-in-out;
}
.slider-arrow:hover {
  color: white;
}
.slider-arrow--right {
  bottom: 50%;
  right: 30px;
}
.slider-arrow--left {
  bottom: 50%;
  left: 30px;
}
.slider-nav {
  position: absolute;
  bottom: 30px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider-nav__item:hover {
  background: #ccc;
}
.slider-nav__item--current {
  background: #ccc;
}
.slider h2 {
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  opacity: 0;
}
.slider h3 {
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  opacity: 0;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.services__item {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}
.services__item:nth-of-type(1) .services__icon {
  background: #f0f0f0 url(/images/browser.png) no-repeat center;
}
.services__item:nth-of-type(2) .services__icon {
  background: #f0f0f0 url(/images/pocket.png) no-repeat center;
}
.services__item:nth-of-type(3) .services__icon {
  background: #f0f0f0 url(/images/trash.png) no-repeat center;
}
.services__item:nth-of-type(4) .services__icon {
  background: #f0f0f0 url(/images/camera.png) no-repeat center;
}
.services__icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services__item {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

.filter {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 0.8125rem;
  line-height: 3rem;
}
.filter a {
  text-align: center;
  text-decoration: none;
  color: #515151;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  padding: 0 1rem;
  margin-right: .25rem;
  background: #ececec;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.filter a:hover, .filter a.selected {
  background: #1bbc9d;
  color: #FFFFFF;
  border-bottom: 2px solid #1f937d;
}

.portfolio {
  overflow: hidden;
  z-index: 1;
  /* webkit fix */
}
.portfolio__thumbnail {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  background: #ccc;
  position: relative;
  cursor: pointer;
}
.portfolio__thumbnail img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.portfolio__thumbnail figcaption {
  position: absolute;
  padding: 10px;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 174px;
  height: 174px;
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
  margin: -87px 0 0 -87px;
  display: none;
  transition: all .3s ease-in-out;
}
.portfolio__thumbnail figcaption h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.portfolio__thumbnail figcaption span {
  margin-right: 15px;
}
.portfolio__thumbnail figcaption span i {
  margin-right: 10px;
  font-size: 1.25rem;
  vertical-align: middle;
}
.portfolio__thumbnail figcaption .tag {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}
.portfolio__thumbnail:hover figcaption {
  display: block;
  -moz-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.price-table {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 3rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px #eeeeee;
  -webkit-box-shadow: 0 2px #eeeeee;
  box-shadow: 0 2px #eeeeee;
  text-align: center;
  background: #f4f4f4;
}
.price-table__title {
  font-size: 1.25rem;
  line-height: 4.5rem;
  font-weight: 300;
  color: #5c5c5c;
}
.price-table__tarrif {
  margin-bottom: 1.5rem;
  height: 3rem;
  border-bottom: 3px solid #17987f;
  background: #1bbc9d;
}
.price-table__tarrif p {
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
  line-height: 3rem;
}
.price-table__details {
  margin-bottom: 1.5rem;
}
.price-table__details li {
  font-size: 1rem;
  line-height: 3rem;
  color: #969696;
}
.price-table__details li strong {
  color: #5c5c5c;
  font-weight: bold;
}
.price-table__purchase {
  height: 4.5rem;
}
@media (min-width: 992px) {
  .price-table {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

.team__item {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}
.team__item h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #2e2e2e;
}
.team__item h4 {
  font-size: 1rem;
  color: #515151;
  margin-bottom: 1.5rem;
}
.team__item p {
  color: #818181;
}
.team__photo {
  margin-bottom: 1.5rem;
}
.team__photo img {
  max-width: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .team__item {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

.mail {
  width: 100%;
  float: left;
}
.mail__title {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 3rem;
  color: #404040;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.mail__input {
  margin-bottom: 1.5rem;
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-size: 0.875rem;
  height: 3rem;
  padding: 0 10px;
  background: #FFF;
  border: none;
}
.mail__textarea {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  height: 12rem;
  font-family: "Roboto";
  padding: 10px;
  font-size: 0.875rem;
  background: #FFF;
  border: none;
  resize: none;
  overflow-y: auto;
  float: left;
}
.mail__submit {
  margin-left: 34.16667%;
  margin-right: 34.16667%;
  margin-top: 1.5rem;
  width: 31.66667%;
  height: 3rem;
  color: #FFF;
  font-weight: 500;
  background: #1bbc9d;
  transition: all .2s ease-in-out;
  border: none;
  border-bottom: 2px solid #1f937d;
  cursor: pointer;
}
.mail__submit:hover {
  background: #1bbc9d;
  color: #FFFFFF;
  border-bottom: 2px solid #1f937d;
}
@media (min-width: 768px) {
  .mail {
    width: 66.66667%;
    float: left;
  }
  .mail__title {
    width: 97.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__input {
    width: 47.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__textarea {
    width: 97.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__submit {
    width: 22.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
}

.more {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.more__title {
  margin-bottom: 1.5rem;
  color: #404040;
  font-size: 1.125rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.more li {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #5c5c5c;
}
@media (min-width: 768px) {
  .more {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .more ul + ul {
    margin-top: 3rem;
  }
}

.social__icon {
  height: 46px;
  width: 46px;
  font-size: 1.25rem;
  text-align: center;
  line-height: 46px;
  color: #333;
  margin-right: 30px;
  border-radius: 23px;
  border: 5px solid rgba(255, 255, 255, 0);
  background: #fff;
  transition: all .3s ease-in-out;
  float: left;
}
.social__icon:hover {
  border: 5px solid #FFF;
  background: #b0cd3b;
}

.widget__title {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  color: #404040;
  font-size: 1.125rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.widget__item {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  color: #747474;
}
.widget__item h4 {
  font-size: 0.8125rem;
  font-weight: bold;
}
.widget__img {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
}
.widget .fa-twitter {
  color: #b0cd3b;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .widget {
    width: 33.33333%;
    float: left;
  }
  .widget__title {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .widget__item {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .widget__img {
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.footer {
  height: 7.5rem;
  background-color: #f2f2f2;
}
.footer ul {
  width: 65%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  list-style: none;
  padding: 0;
}
.footer ul li {
  float: right;
  margin-left: 40px;
}
.footer ul li:first-child {
  margin-right: 0;
}
.footer ul li a {
  text-decoration: none;
  line-height: 7.5rem;
  color: #5c5c5c;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.footer ul li a:hover {
  color: #b0cd3b;
}
.footer ul li a span {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
