html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 75%;
  line-height: 1.5em;
}

@media (min-width: 480px) {
  html {
    font-size: 87.5%;
    line-height: 1.5em;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
    line-height: 1.5em;
  }
}
h1 {
  font-size: 3.157rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2.369rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.777rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.333rem;
  line-height: 3rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

p {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: 1.5rem;
}

blockquote {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #717171;
  text-align: center;
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
blockquote .icon-lquote,
blockquote .icon-rquote {
  font-size: 2rem;
}
blockquote .icon-lquote {
  position: absolute;
  left: -3rem;
  top: -webkit-calc(50% - 4rem);
  top: calc(50% - 4rem);
  color: #E5E5E5;
}
blockquote .icon-rquote {
  position: absolute;
  right: -3rem;
  top: -webkit-calc(50% - 4rem);
  top: calc(50% - 4rem);
  color: #E5E5E5;
}
blockquote cite {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: #b0cd3b;
}
@media (min-width: 768px) {
  blockquote .icon-lquote,
  blockquote .icon-rquote {
    font-size: 4rem;
  }
  blockquote .icon-lquote {
    left: -6rem;
  }
  blockquote .icon-rquote {
    right: -6rem;
  }
}

.pricing__tarrif p, .pricing__details li strong, .mail__title, .more__title, .widget__title, .widget__item h4 {
  font-weight: 700;
}

.article__subtitle {
  font-weight: 500;
}

.article__title, .slider h1, .services h3, .filter a, .portfolio__thumbnail figcaption h3, .portfolio__thumbnail figcaption p, .pricing__title {
  font-weight: 300;
}

.headline h2, .slider h1, .slider h2 {
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.headline h3 {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.services p {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #5f5f5f;
}

.portfolio__thumbnail figcaption, .portfolio__thumbnail figcaption a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-js7nwc");
  src: url("../fonts/icomoon.eot?#iefix-js7nwc") format("embedded-opentype"), url("../fonts/icomoon.woff?-js7nwc") format("woff"), url("../fonts/icomoon.ttf?-js7nwc") format("truetype"), url("../fonts/icomoon.svg?-js7nwc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-vk:before {
  content: "\f189";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-lquote:before {
  content: "\e601";
}
.icon-rquote:before {
  content: "\e600";
}
.icon-bars:before {
  content: "\f0c9";
}

.container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  height: 100%;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 1200px) {
  .container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.button-3d, .button-flat {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 3rem;
  height: 3rem;
  padding: 0 2em;
  color: white;
  border: none;
  -webkit-transition: background .35s, box-shadow .35s;
  transition: background .35s, box-shadow .35s;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

.button-3d {
  border-radius: 5px;
}
.button-3d_green {
  background: #b0cd3b;
  box-shadow: 0 4px #798f21;
}
.button-3d_green:hover {
  background: #91aa2b;
  box-shadow: 0 4px #566617;
}
.button-3d_aqua {
  background: #1bbc9d;
  box-shadow: 0 4px #1f937d;
}
.button-3d_aqua:hover {
  background: #158f78;
  box-shadow: 0 4px #166959;
}
.button-3d:active {
  box-shadow: none;
  bottom: -4px;
}
.button-3d:focus {
  outline: none;
}
.button-flat_green {
  background: #b0cd3b;
  border-bottom: 2px solid #798f21;
}
.button-flat_green:hover {
  background: #b8d24f;
  border-color: #8ba426;
}
.button-flat_aqua {
  background: #1bbc9d;
  border-bottom: 2px solid #158f78;
}
.button-flat_aqua:hover {
  background: #1ed2b0;
  border-color: #18a68a;
}
.button-flat_aqua:active {
  background: #31a790;
  border-color: #36a18c;
  color: #cccccc;
}
.button-flat:focus {
  outline: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.running {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}

.animated {
  opacity: 0;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.article {
  *zoom: 1;
  padding: 1.5rem 0;
}
.article:after {
  content: "";
  display: table;
  clear: both;
}
.article__title {
  margin-bottom: 3rem;
  text-align: center;
  color: #515151;
  clear: both;
}
.article__subtitle {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.125rem;
  line-height: 3rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  clear: both;
}
.article__subtitle:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border-top: 2px solid #DDD;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  position: absolute;
  z-index: 1;
}
.article__subtitle span {
  display: inline-block;
  background: white;
  padding: 0 2em;
  position: relative;
  z-index: 5;
}
.article_contacts {
  background: #f2f2f2;
}

.headline {
  overflow: hidden;
  *zoom: 1;
  height: 27rem;
  /* 27*15 = 432px */
  position: relative;
  background-size: cover;
}
.headline h2 {
  margin-top: 9rem;
  margin-bottom: 1.5rem;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.headline h3 {
  margin-bottom: 1.5rem;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.headline_purchase {
  background-image: url(/images/headline.jpg);
}
.headline_pricing {
  background-image: url(/images/headline.jpg);
}
.headline_about {
  background-image: url(/images/headline.jpg);
}
.headline_social {
  background-image: url(/images/headline.jpg);
}

.header {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .header {
    height: 7.5rem;
  }
}

.menu {
  *zoom: 1;
}
.menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu .collapsed {
  display: none;
}
.menu ul {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  -webkit-transition: top .4s ease-in-out;
  transition: top .4s ease-in-out;
}
.menu__item {
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  border-top: 1px solid #DDD;
}
.menu__item a {
  text-decoration: none;
  line-height: 3rem;
  color: #595959;
  display: block;
  padding: 0 1rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.menu__item a:hover {
  color: #b0cd3b;
}
.menu__toggle {
  display: block;
  width: 6.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-size: 2rem;
  line-height: 4.5rem;
  text-decoration: none;
  text-align: center;
  color: #717171;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.menu__toggle:hover {
  color: #b0cd3b;
}
@media (min-width: 768px) {
  .menu {
    width: 73.33333%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    text-align: right;
  }
  .menu .collapsed {
    display: block;
  }
  .menu ul {
    display: block;
    background: transparent;
    position: static;
  }
  .menu__item {
    padding-left: 20px;
    display: inline-block;
    border: none;
  }
  .menu__item a {
    line-height: 7.5rem;
    padding: 0;
  }
  .menu__toggle {
    display: none;
  }
}

.logo {
  width: 90%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-size: 1.5rem;
  line-height: 3rem;
  line-height: 4.5rem;
  text-decoration: none;
  color: #595959;
}
.logo img {
  margin-right: .5em;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .logo {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
    line-height: 7.5rem;
  }
}

.slider {
  position: relative;
  z-index: 1;
  /* webkit blinking fix */
  width: 100%;
  height: 100%;
  /*height: 590px;*/
  overflow: hidden;
}
.slider ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  height: 100%;
  /* Clear fix */
  *zoom: 1;
  /**
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.slider li {
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  height: 100%;
  padding: 15em 0;
  float: left;
  clear: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slider .slide1 {
  background-image: url(/images/slide1.jpg);
}
.slider .slide2 {
  background-image: url(/images/slide2.jpg);
}
.slider .slide3 {
  background-image: url(/images/slide3.jpg);
}
.slider-arrow {
  position: absolute;
  display: block;
  text-decoration: none;
  margin-bottom: -20px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.slider-arrow--right {
  bottom: 50%;
  right: 1rem;
}
.slider-arrow--left {
  bottom: 50%;
  left: 1rem;
}
.slider-arrow:hover {
  color: white;
}
.slider-nav {
  position: absolute;
  bottom: 30px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider-nav__item:hover {
  background: #ccc;
}
.slider-nav__item--current {
  background: #ccc;
}
.slider h1 {
  margin-bottom: 1.5rem;
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: 43px;
  opacity: 0;
}
.slider h2 {
  clear: both;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: 43px;
  opacity: 0;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.services h3 {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #3a3a3a;
}
.services__item {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.services__item:nth-of-type(1) .services__icon {
  background: #f0f0f0 url(/images/browser.png) no-repeat center;
}
.services__item:nth-of-type(2) .services__icon {
  background: #f0f0f0 url(/images/pocket.png) no-repeat center;
}
.services__item:nth-of-type(3) .services__icon {
  background: #f0f0f0 url(/images/trash.png) no-repeat center;
}
.services__item:nth-of-type(4) .services__icon {
  background: #f0f0f0 url(/images/camera.png) no-repeat center;
}
.services__icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .services__item {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .services__item:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  .services__item {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .services__item:nth-of-type(2n + 1) {
    clear: none;
  }
}

.filter {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 0.8125rem;
  line-height: 3rem;
}
.filter a {
  text-align: center;
  text-decoration: none;
  color: #515151;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 1rem;
  margin-right: .25rem;
  background: #ececec;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.filter a:hover, .filter a.selected {
  background: #1bbc9d;
  color: #FFFFFF;
  border-bottom: 2px solid #1f937d;
}

.portfolio {
  overflow: hidden;
  z-index: 1;
  /* webkit fix */
}
.portfolio__thumbnail {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  background: #2e5d5a;
  overflow: hidden;
  margin-top: 0.83333%;
  margin-bottom: 0.83333%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.portfolio__thumbnail img {
  display: block;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.2);
  transform: translate3d(-30px, 0, 0) scale(1.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.portfolio__thumbnail figcaption {
  padding: 2rem 1rem;
  color: #FFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.portfolio__thumbnail figcaption h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.portfolio__thumbnail figcaption span {
  position: relative;
}
.portfolio__thumbnail figcaption span i {
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -7px;
  vertical-align: middle;
}
.portfolio__thumbnail figcaption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.portfolio__thumbnail figcaption p {
  font-size: 0.875rem;
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  white-space: pre;
}
.portfolio__thumbnail:hover img {
  opacity: .5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.portfolio__thumbnail:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
  .portfolio__thumbnail {
    width: 48.33333%;
  }
  .portfolio .single {
    width: 98.33333%;
  }
}
@media (min-width: 992px) {
  .portfolio__thumbnail {
    width: 31.66667%;
  }
  .portfolio .single {
    width: 31.66667%;
  }
}

.pricing {
  *zoom: 1;
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 0 2px #eeeeee;
  text-align: center;
  background: #f4f4f4;
}
.pricing:after {
  content: "";
  display: table;
  clear: both;
}
.pricing__title {
  font-size: 1.25rem;
  line-height: 4.5rem;
  color: #5c5c5c;
}
.pricing__tarrif {
  margin-bottom: 1.5rem;
  height: 3rem;
  border-bottom: 3px solid #17987f;
  background: #1bbc9d;
}
.pricing__tarrif p {
  font-size: 1rem;
  color: #FFF;
  line-height: 3rem;
}
.pricing__details {
  margin-bottom: 1.5rem;
}
.pricing__details li {
  font-size: 0.825rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  color: #969696;
}
.pricing__details li strong {
  color: #5c5c5c;
}
.pricing__purchase {
  height: 4.5rem;
}
@media (min-width: 480px) {
  .pricing {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 768px) {
  .pricing {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 992px) {
  .pricing {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}

.team__item {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.team__item h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #2e2e2e;
}
.team__item h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #515151;
  margin-bottom: 1.5rem;
}
.team__item p {
  color: #818181;
}
.team__photo img {
  max-width: 100%;
  display: block;
  width: 100%;
}
@media (min-width: 480px) {
  .team__item {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .team__item:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  .team__item {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .team__item:nth-of-type(2n + 1) {
    clear: none;
  }
}

.chart {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
  padding-top: -webkit-calc(100px + 1.5rem);
  padding-top: calc(100px + 1.5rem);
  position: relative;
}
.chart__item {
  margin-bottom: 1.5rem;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px 100px 0 0;
  background-color: #E5E5E5;
  position: absolute;
  clip: rect(0, 200px, 100px, 0);
  top: 0;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
}
.chart__progress {
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  top: -webkit-calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 100px, 0);
}
.chart__fill {
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 100px);
  left: calc(50% - 100px);
  top: -webkit-calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
  clip: rect(100px, 200px, 200px, 0);
  background: -webkit-linear-gradient(left, #52c73b, #00c085);
  background: linear-gradient(to right, #52c73b, #00c085);
}
.chart__percents {
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 133.33333px/2);
  left: calc(50% - 133.33333px/2);
  top: -webkit-calc(50% - 133.33333px/2);
  top: calc(50% - 133.33333px/2);
  width: 133.33333px;
  height: 133.33333px;
  clip: rect(0, 133.33333px, 66.66667px, 0);
  background: #fff;
  text-align: center;
  display: table;
}
.chart__percents span {
  margin-top: 30px;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #424242;
}
.chart__percents div {
  display: table-cell;
  vertical-align: baseline;
}
@media (min-width: 480px) {
  .chart {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .chart:nth-of-type(2n + 1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  .chart {
    width: 23.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .chart:nth-of-type(2n + 1) {
    clear: none;
  }
}

.mail__title {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 3rem;
  color: #404040;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.mail__input {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  height: 3rem;
  padding: 0 10px;
  background: #FFF;
  border: none;
}
.mail__textarea {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  height: 12rem;
  font-family: "Roboto";
  padding: 10px;
  font-size: 0.875rem;
  background: #FFF;
  border: none;
  resize: none;
  overflow-y: auto;
  float: left;
}
.mail__submit {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 480px) {
  .mail__input {
    width: 48.33333%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
@media (min-width: 768px) {
  .mail {
    width: 66.66667%;
    float: left;
  }
  .mail__title {
    width: 97.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__input {
    width: 47.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__textarea {
    width: 97.5%;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
  .mail__submit {
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
}

.more {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
.more__title {
  margin-bottom: 1.5rem;
  height: 3rem;
  color: #404040;
  font-size: 1.125rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.more li {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #5c5c5c;
}
@media (min-width: 768px) {
  .more {
    width: 31.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .more ul + ul {
    margin-top: 3rem;
  }
}

.social__icon {
  height: 46px;
  width: 46px;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  line-height: 46px;
  color: #333;
  margin-right: 30px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  float: left;
  z-index: 10;
}
.social__icon:hover {
  background: #b0cd3b;
}
.social__icon:hover:after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
.social__icon:after {
  background: transparent;
  border-radius: 50%;
  border: 3px solid #FFF;
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  z-index: 1;
}

.widget {
  *zoom: 1;
}
.widget:after {
  content: "";
  display: table;
  clear: both;
}
.widget__title {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 3rem;
  color: #404040;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 2px solid #DDD;
  text-transform: uppercase;
}
.widget__item {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  color: #747474;
}
.widget__item h4 {
  font-size: 0.8125rem;
  line-height: 1.5rem;
}
.widget__img {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-bottom: 1.66667%;
}
.widget .icon-twitter {
  color: #b0cd3b;
  font-size: 1rem;
  vertical-align: sub;
}
@media (min-width: 768px) {
  .widget {
    width: 33.33333%;
    float: left;
  }
  .widget__title {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .widget__item {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .widget__img {
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
  }
}

.footer {
  height: 7.5rem;
  background-color: #f2f2f2;
}
.footer .copyright {
  line-height: 7.5rem;
  text-decoration: none;
  color: #5c5c5c;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  float: right;
  margin-right: 0.83333%;
}
.footer .copyright:hover {
  color: #b0cd3b;
}

/*# sourceMappingURL=style.css.map */