.footer {
  height: $footer-height;
  background-color: $background-alt;

  .copyright {
    line-height: $footer-height;
    text-decoration: none;
    color: $footer-color;
    transition: all .4s ease-in-out;
    float: right;
    margin-right: gutter();

    &:hover {
      color: $link-hover;
    }
  }
}