.filter {
  text-align: center;
  margin-bottom: 3rem;
  @include adjust-font-size-to(0.8125rem, 2);

  a {
    text-align: center;
    text-decoration: none;
    color: #515151;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 1rem;
    margin-right: .25rem;
    background: #ececec;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid rgba(255,255,255, .0);

    &:hover, &.selected {
      background: #1bbc9d;
      color: #FFFFFF;
      border-bottom: 2px solid #1f937d;
    }
  }
}
.portfolio {
  @include container();
  overflow: hidden;
  z-index: 1; /* webkit fix */

  &__thumbnail {
    @include span(12);
    background: #2e5d5a;
    overflow: hidden;
    // margin: -0.135em;
    margin-top: gutter();
    margin-bottom: gutter();
    position: relative;
    cursor: pointer;
    z-index: 1;

    img {
      display: block;
      // max-width: 100%;
      width: calc(100% + 60px);
      transition: opacity .35s, transform .35s;
      transform: translate3d(-30px,0,0) scale(1.12);
      backface-visibility: hidden;
    }

    figcaption {
      @extend %absolute;
      padding: 2rem 1rem;
      color: #FFF;
      backface-visibility: hidden;
      h3 {
        font-size: 1.25rem;
        font-weight: 300;
        text-transform: uppercase;
        margin: 1rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      span {
        position: relative;
        i {
          position: absolute;
          right: -40px;
          top: 50%;
          margin-top: -7px;
          vertical-align: middle;
        }
      }
      a {
        @extend %absolute;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      p {
        font-size: 0.875rem;
        font-weight: 300;
        padding: 0 10px 0 0;
        width: 50%;
        border-right: 1px solid #fff;
        text-align: right;
        opacity: 0;
        transition: opacity .35s, transform .35s;
        transform: translate3d(-40px,0,0);
        white-space: pre;
      }
    }

    &:hover {
      img {
        opacity: .5;
        transform: translate3d(0,0,0) scale(1);
      }
      p {
        opacity: 1;
        transform: translate3d(0,0,0);
      }

    }

  }

  //  Breakpoints

  @include breakpoint($screen-xs) {
    &__thumbnail {
      @include span(12);
      // width: 50%;
    }
  }

  @include breakpoint($screen-sm) {
    &__thumbnail {
      @include span(6);
      // width: 33.33%;
    }
  }

  @include breakpoint($screen-md) {
    &__thumbnail {
      @include span(4);
      // width: 25%;
    }
  }
}