.pricing {
  @include pie-clearfix;
  @include span(full);
  @include margin-trailer(2);
  @include border-radius(5px);
  @include box-shadow(0 2px #EEE);
  text-align: center;
  background: #f4f4f4;

  &__header {

  }
  &__title {
    @include adjust-font-size-to(1.25rem, 3);
    @extend %light;
    color: #5c5c5c;
  }
  &__tarrif {
    @include margin-trailer;
    height: rhythm(2);
    border-bottom: 3px solid #17987f;
    background: #1bbc9d;
    p {
      @extend %strong;
      font-size: 1rem;
      color: #FFF;
      line-height: rhythm(2);
    }
  }

  &__details {
    @include margin-trailer;
    li {
      @include adjust-font-size-to(0.825rem, 1);
      @include margin-trailer();
      padding: 0 1rem;
      color: #969696;
      strong {
        color: #5c5c5c;
        @extend %strong;
      }
    }

  }
  &__purchase {
    height: rhythm(3);
  }

  //  Breakpoints

  @include breakpoint($screen-xs) {
    @include span(6);
  }

  @include breakpoint($screen-sm) {
    @include span(3);
  }

  @include breakpoint($screen-md) {
    @include span(3);
  }

}
