.slider {
	position: relative;
	z-index: 1; /* webkit blinking fix */
	width: 100%;
	height: 100%;
	/*height: 590px;*/
	overflow: hidden;
	margin-top: $header-height;
	ul {
		overflow: hidden;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		list-style: none;
		height: 100%;
		/* Clear fix */
		*zoom: 1;
		/**
		 * Prevent blinking issue
		 * Not tested. Experimental.
		 */
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	li {
		overflow: hidden;
		display: block;
		position: relative;
		float: left;
		height: 100%;
		padding: 15em 0;
		float: left;
		clear: none;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.slide1 {
		background-image: url(/images/slide2.jpg);
	}
	.slide2 {
		background-image: url(/images/slide3.jpg);
	}
	.slide3 {
		background-image: url(/images/slide4.jpg);
	}
	.slide4 {
		background-image: url(/images/slide5.jpg);
	}

	&-arrow {
		position: absolute;
		display: block;
		margin-bottom: -14px;
		font-size: 40px; /* old 28px */
		color: $text-images-color-2;
		transition: all .2s ease-in-out;
		&:hover {
			color: $text-images-color-1;
		}
		&--right {
			bottom: 50%;
			right: 30px;
		}
		&--left {
			bottom: 50%;
			left: 30px;
		}
	}

	&-nav {
		position: absolute;
		bottom: 30px;
		&__item {
			width: 12px;
			height: 12px;
			float: left;
			clear: none;
			display: block;
			margin: 0 5px;
			background: #fff;
			&:hover {
				background: #ccc;
			}
			&--current {
				background: #ccc;
			}
		}
	}

	h2 {
		@extend %image-title;
		@include full;
		opacity: 0;
	}
	h3 {
		@extend %image-desc;
		@include full;
		opacity: 0;
		-webkit-animation-delay: .2s;
		animation-delay: .2s;
	}
}