.widget {
  @include pie-clearfix;

  &__title {
    @include span(12);
    @include margin-trailer;
    @include adjust-font-size-to(1.125rem, 2);
    @extend %strong;
    color: #404040;
    height: rhythm(2);
    line-height: rhythm(2);
    border-bottom: 2px solid #DDD;
    text-transform: uppercase;
  }
  &__item {
    @include span(12);
    color: #747474;

    h4 {
      @include adjust-font-size-to(0.8125rem, 1);
      @extend %strong;
    }
  }
  &__img {
    @include span(3);
    margin-bottom: gutter() * 2;
  }
  .icon-twitter {
    color: $link-hover;
    font-size: 1rem;
    vertical-align: sub;
  }

  @include breakpoint($screen-sm) {
    @include span(4 nest);

    &__title {
      @include span(4 of 4);
    }

    &__item {
      @include span(4 of 4);
    }

    &__img {
      @include span(1 of 4);
      margin-bottom: gutter(4) * 2;
    }
  }
}