.widget {
	@include span(4 of 12 nest);
	color: #747474;
	&__title {
		@include span(4);
		@include margin-trailer;
		color: #404040;
		font-size: 1.125rem;
		font-weight: bold;
		height: rhythm(2);
		line-height: rhythm(2);
		border-bottom: 2px solid #DDD;
		text-transform: uppercase;
	}
	&__item {
		@include span(4);
		h4 {
			font-size: 0.8125rem;
			font-weight: bold;
		}
	}
	&__img {
		@include gallery(2 of 4);
		// @include margin-trailer(1);
	}
	.fa-twitter {
		color: $link-hover;
		font-size: 1rem;
	}
}