@import 'base';

// Buttons

@import 'buttons';

// Base

* {
  @include box-sizing(border-box);
}

body {
  background: $background-main;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.running {
  animation-play-state: running !important;
}
.animated {
  // -webkit-animation-play-state: paused;
  // -moz-animation-play-state: paused;
  // -o-animation-play-state: paused;
  // animation-play-state: paused;
  opacity: 0;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


// Layout

.article {
  @include pie-clearfix;
  padding: 1.5rem 0;
  h2 {
    @extend %section-title;
    @include margin-trailer(2);
    text-align: center;
  }
  &_contacts {
    background: $background-alt;
  }
}
.headline {
  @include clearfix;
  height: 27rem; /* 27*15 = 432px */
  position: relative;
  h2 {
    @extend %overlay-text;
    @include margin-leader(6);
    @include margin-trailer(1);
    @include span(full);
  }
  h3 {
    @extend %overlay-text-light;
    @include margin-trailer(1);
    @include span(full);
  }
  background-size: cover;
  // Overlay

  // &:after {
  //  position: absolute;
  //  display: block;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background: rgba(180,109,39, 0.2);
  //  content: '';
  // }

  // Modificators
  &_purchase {
    background-image: url(/images/headline.jpg);
  }
  &_pricing {
    background-image: url(/images/headline.jpg);
  }
  &_about {
    background-image: url(/images/headline.jpg);
  }
  &_social {
    background-image: url(/images/headline.jpg);
  }

}


// Header

@import 'header';

// Slider

@import 'slider';

// Services

@import 'services';

// Portfolio

@import 'portfolio';

//  Price

@import 'pricing';

// About Us

@import 'team';

// Contacts

@import 'mail';

// Social icons

@import 'social';

// Widgets

@import 'widgets';

// Footer

@import 'footer';