@import 'base';

// Buttons

@import 'buttons';

// Base

* {
  @include box-sizing(border-box);
}

body {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
}

.running {
  animation-play-state: running !important;
}
.animated {
  // -webkit-animation-play-state: paused;
  // -moz-animation-play-state: paused;
  // -o-animation-play-state: paused;
  // animation-play-state: paused;
  opacity: 0;
}

%image-title {
  font-weight: 300;
  color: $text-images-color-1;
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}
%image-desc {
  font-weight: 500;
  color: $text-images-color-2;
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}
%heading {
  font-size: 2.25rem;
  font-weight: 300;
  color: #515151;
}
%heading-2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #3a3a3a;
}
%text {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #5f5f5f;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


// Layout

.article {
  @include clearfix;
  padding: 1.5rem 0;
  h2 {
    @extend %heading;
    @include margin-trailer(2);
    text-align: center;
  }
  &_contacts {
    background: #F2F2F2;
  }
}
.headline {
  @include clearfix;
  height: 27rem; /* 27*15 = 432px */
  position: relative;
  h2 {
    @extend %image-title;
    @include margin-leader(6);
    @include margin-trailer(1);
    @include span(full);
  }
  h3 {
    @extend %image-desc;
    @include margin-trailer(1);
    @include span(full);
  }
  background-size: cover;
  // Overlay

  // &:after {
  //  position: absolute;
  //  display: block;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background: rgba(180,109,39, 0.2);
  //  content: '';
  // }

  // Modificators
  &_purchase {
    background-image: url(/images/headline.jpg);
  }
  &_pricing {
    background-image: url(/images/headline.jpg);
  }
  &_about {
    background-image: url(/images/headline.jpg);
  }
  &_social {
    background-image: url(/images/headline.jpg);
  }

}


// Header

@import 'header';

// Slider

@import 'slider';

// Services

@import 'services';

// Portfolio

@import 'portfolio';

//  Price

@import 'pricing';

// About Us

@import 'team';

// Contacts

@import 'mail';

// Social icons

@import 'social';

// Widgets

@import 'widgets';

// Footer

@import 'footer';