@import "compass/typography";

@mixin rhytm-config($size) {
	$base-font-size: 					$size 					!global;
	$base-font-family: 					'Roboto' 				!global;
	$base-line-height: 					$size * 1.5 			!global;
	$rhythm-unit: 						"rem" 					!global;
	$rem-with-px-fallback: 				false 					!global;
	$grid-background-baseline-color: 	lighten(#699, 40%) 		!global;
}

@include breakpoint(screen-xs) {
	@include rhytm-config(10px);
	@include establish-baseline;
}

@include breakpoint(screen-sm) {
	@include rhytm-config(16px);
	@include establish-baseline;
}

h1 { @include adjust-font-size-to(3.157rem); }
h2 { @include adjust-font-size-to(2.369rem); }
h3 { @include adjust-font-size-to(1.777rem);}
h4 { @include adjust-font-size-to(1.333rem); }
h5 { @include adjust-font-size-to(1rem); }
h6 { @include adjust-font-size-to(0.75rem); }



p {
	@include adjust-font-size-to(0.8125rem);
	@include hyphenation;
	@include margin-trailer;
}
