@import "compass/typography";

  $base-font-size:          12px          !global;
  $base-font-family:          'Roboto'        !global;
  $base-line-height:          18px          !global;
  $rhythm-unit:             "rem"           !global;
  $rem-with-px-fallback:        false           !global;
  @include establish-baseline;

@include breakpoint($screen-xs) {
  $base-font-size:          14px          !global;
  $base-font-family:          'Roboto'        !global;
  $base-line-height:          21px          !global;
  $rhythm-unit:             "rem"           !global;
  $rem-with-px-fallback:        false           !global;
  @include establish-baseline;
}

@include breakpoint($screen-sm) {
  $base-font-size:          16px          !global;
  $base-font-family:          'Roboto'        !global;
  $base-line-height:          24px          !global;
  $rhythm-unit:             "rem"           !global;
  $rem-with-px-fallback:        false           !global;
  $grid-background-baseline-color:  lighten(rgba(15, 13, 74, 0.4), 40%)   !global;
  @include establish-baseline;
}

h1 { @include adjust-font-size-to(3.157rem); }
h2 { @include adjust-font-size-to(2.369rem); }
h3 { @include adjust-font-size-to(1.777rem);}
h4 { @include adjust-font-size-to(1.333rem); }
h5 { @include adjust-font-size-to(1rem); }
h6 { @include adjust-font-size-to(0.75rem); }

p {
  @include adjust-font-size-to(0.8125rem);
  @include hyphenation;
  @include margin-trailer;
}

blockquote {
  @include adjust-font-size-to(0.8125rem, 1);
  @include margin-trailer;
  color: #717171;
  text-align: center;
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  .icon-lquote {
    position: absolute;
    left: -6rem;
    top: calc(50% - 4rem);
    font-size: 4rem;
    color: #E5E5E5;
  }
  .icon-rquote {
    position: absolute;
    right: -6rem;
    top: calc(50% - 4rem);
    font-size: 4rem;
    color: #E5E5E5;
  }

  cite {
    @include adjust-font-size-to(0.8125rem, 1);
    @include margin-leader;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #b0cd3b;
  }

}

// Type weights

%ultrastrong {
  font-weight: 900;
}
%strong {
  font-weight: 700;
}
%medium {
  font-weight: 500;
}
%regular {
  font-weight: 400;
}
%light {
  font-weight: 300;
}
%ultralight {
  font-weight: 200;
}

%overlay-text {
  color: $overlay-text-color;
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}
%overlay-text-light {
  color: $overlay-text-color-light;
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}

%text {
  font-size: 0.8125rem;
  font-weight: 300;
  color: #5f5f5f;
}

%absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}